@model Web.Common.Auth.LoginView

@using (Html.BeginForm("JsonLogin", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-4">
            <h1>Вход</h1>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Login, "Логин", new { @class = "col-lg-2 control-label" })
        <div class="col-lg-2">
            @Html.TextBoxFor(m => m.Login, new { autofocus = "autofocus", id = "loginName", placeholder = "Логин", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Login)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Пароль", new { @class = "col-lg-2 control-label" })
        <div class="col-lg-2">
            @Html.PasswordFor(m => m.Password, new { placeholder = "Пароль", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-4">
            @Html.ValidationSummary()
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-4">
            <button type="submit" class="btn btn-default">Войти</button>
        </div>
    </div>
}