@{
    ViewBag.Title = "Главная";
}


@if (@User.Identity.IsAuthenticated)
{
    <div id="main-content" data-ng-app="tasks">
        <div class="ajax-indicator">
            <img src="~/Content/images/ajax-loader.gif" />
        </div>   
        <div data-ng-view></div>
    </div>    
    
    @section styles {
        @Styles.Render("~/Content/angular")                
    }
        
    @section scripts {
        @Scripts.Render("~/bundles/angular")        
        @Scripts.Render("~/bundles/tasks")
    }
}
else
{
    @Html.Partial("_Login")
}
