@model ICollection<Project>

@{
    ViewBag.Title = "Задания в разрезе проектов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/customer")
}

@Html.Hidden("ProjectsReportUrl", Url.Action("ProjectsReport", "Reports"))

<div class="page-control projects-report" data-role="page-control">
    <ul>
        @foreach (var project in Model)
        { 
            <li><a href="#@project.Id" data-id="@project.Id">@project.Title</a></li>        
        }
    </ul>

    <div id="ReportBoard" class="frames">
        @foreach (var project in Model)
        { 
            <div class="frame" id="@project.Id"></div>                    
        }
    </div>
</div>
