<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />    
    @Styles.Render("~/Content/metro-ui")
    @Styles.Render("~/Content/angular")    
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body data-twttr-rendered="true">
    <div id="wrap">
        <div id="body">
            @RenderBody()
        </div>
    </div>

    <footer id="footer">
        @DateTime.Now.Year г.
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/metro-ui")
    @Scripts.Render("~/bundles/ajaxlogin")    
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/tasks")
    @RenderSection("scripts", required: false)
</body>
</html>